{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": [
		"/out"
	],
	"plugins": [
		"@typescript-eslint",
		"roblox-ts",
		"prettier"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"curly": "warn",
		"id-length": "warn",
		"max-lines": ["warn", {
			"max": 500
		}],
		"prettier/prettier": "warn",
		"@typescript-eslint/explicit-function-return-type": "warn",
		"@typescript-eslint/naming-convention": "error",
		"@typescript-eslint/no-floating-promises": "warn",
		"@typescript-eslint/no-unsafe-member-access": "warn",
		"@typescript-eslint/strict-boolean-expressions": "warn"
	}
}